In [1]:
import numpy as np

In [1]:
sentence = 'The dogs are barking at the ducks!'
token_sentence = sentence.split(' ')
vocab = sorted(set(token_sentence))
num_tokens = len(token_sentence)
vocab_size = len(vocab)
onehot_vectors = np.zeros((num_tokens, vocab_size), int)
for i, word in enumerate(token_sentence):
    onehot_vectors[i, vocab.index(word)] =  1
onehot_vectors

NameError: name 'np' is not defined

In [5]:
import pandas as pd

In [7]:
pd.DataFrame(onehot_vectors, columns = vocab)

   The  are  at  barking  dogs  ducks!  the
0    1    0   0        0     0       0    0
1    0    0   0        0     1       0    0
2    0    1   0        0     0       0    0
3    0    0   0        1     0       0    0
4    0    0   1        0     0       0    0
5    0    0   0        0     0       0    1
6    0    0   0        0     0       1    0

In [17]:
bow = {}
for token in sentence.lower().split(' '):
    bow[token] = bow.get(token, 0) + 1
sorted(bow)

['are', 'at', 'barking', 'dogs', 'ducks!', 'the']

In [20]:
df = pd.DataFrame(pd.Series(dict([(token, 1) for token in sentence.split(' ')])), columns = ['sent']).T

In [21]:
df

      The  are  at  barking  dogs  ducks!  the
sent    1    1   1        1     1       1    1

In [24]:
sentences = "Here comes the sun!\nLittle darling\nHere comes the sun, and I say\nIt's alright"
corpus = {}
for i, sent in enumerate(sentences.split("\n")):
    corpus['sent{}'.format(i)] = dict((token, 1) for token in sent.split())
df = pd.DataFrame.from_records(corpus).fillna(0).astype(int).T
df

,Here,I,It's,Little,alright,and,comes,darling,say,sun!,"sun,",the
sent0,1,0,0,0,0,0,1,0,0,1,0,1
sent1,0,0,0,1,0,0,0,1,0,0,0,0
sent2,1,1,0,0,0,1,1,0,1,0,1,1
sent3,0,0,1,0,1,0,0,0,0,0,0,0

In [23]:
corpus

{'sent0': {'Here': 1,
  'I': 1,
  'alright': 1,
  'and': 1,
  'comes': 1,
  'darlingHere': 1,
  "sayIt's": 1,
  'sun!Little': 1,
  'sun,': 1,
  'the': 1}}

# Five ways to to a dot product for vectors

In [26]:
v1 = pd.np.array([1, 2, 3])
v2 = pd.np.array([4, 5, 6])
v1.dot(v2)

32

In [27]:
(v1*v2).sum()

32

In [29]:
sum([x1 * x2 for x1, x2 in zip(v1, v2)])

32

In [30]:
v1.reshape(-1,1).T@v2.reshape(-1,1)

array([[32]])

In [33]:
np.matmul(v1.reshape(-1,1).T, v2.reshape(-1,1))

array([[32]])

# Sentence overlap through dot product

In [34]:
df = df.T

In [37]:
df.sent0.dot(df.sent3)

0

In [40]:
[(k, v) for (k, v) in (df.sent0 & df.sent2).items() if v]

[('Here', 1), ('comes', 1), ('the', 1)]

# Tokenizing on puctuation

In [41]:
import re

In [44]:
pattern = re.compile(r'([-\s.,;!?])+')
tokens = pattern.split(sentence)
[x for x in tokens if x and x not in '- \t\n.,;!?']

['The', 'dogs', 'are', 'barking', 'at', 'the', 'ducks']

In [2]:
from nltk.tokenize import RegexpTokenizer

In [ ]:
tokenizer = RegexpTokenizer(r'\w+|$[0-9.]+|\S')